#root {
  height: 100vh;
}

#k_map {
  height: calc(100%);
}

.leaflet-control-export,
.leaflet-control-import {
  cursor: pointer;
}

.leaflet-control-coords {
  background-color: white;
  font-size: large;
  font-weight: bold;
  padding: 0 4px;
  font-family: monospace;
}

.leaflet-pane,
.leaflet-control,
.leaflet-top,
.leaflet-bottom {
  z-index: initial;
}
